
body{
    margin: 0%; 
}

nav{
    padding-left: 4%;
    padding-right: 4%;
    position:sticky;
    top: 0;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    background-color:#FFFFFF;

}
nav .logo{
    display: inline-block;

}
nav .links{
    display: block;
    float: right;
    margin-top: 3%;
    width: 50%;
    text-align: end;
}
nav .togglebtn{
    display: none;
    float: right;
    margin-top: 4%;
    /* width: 50%; */
    text-align: end;
}


nav .login{
    text-decoration: none;
    padding-left: 4%;
    color:black;
}
nav .download_link{
    text-decoration: none;
    padding-left: 4%;
    color:#004f92
}

.main{
    background: #FFFFFF;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.container{
    margin-top: 4%;
    /* height: 100%; */
}

.leftcorner{
    width: 50%;
    float: left;
}
.rightcorner{
    /* width: 50%; */
    /* float: right; */
    display: inline-block;
    margin-left: 20%;
}

.logo_text{ 
    margin-top: 15%;
} 
.description{
    line-height: 30px ;
    margin-bottom: 4%;
}
.download{
    color: #FFFFFF;
    background-color: #004f92;
    border: none;
    font-weight: bold;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 20px;


}

.rightcorner .imagephone img{
    /* width:fit-content; */
}

.footer_link a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-right: 2%;
    
    /* float: left; */
}

@media screen and (max-width: 1220px) {
    
    .leftcorner{
        margin-top: 6%;
    }
    .rightcorner{
        display: block;
        margin-left: 0%;
        text-align: right;
    }
    
    .rightcorner .imagephone img{
        width: 30%;
    }
    .footer_link{
        margin-top: 10%;
    }

}


@media screen and (max-width: 800px) {
    .leftcorner{
        width: 100%;
        margin-top: 0%;
        margin-bottom: 10%;
        text-align: center;
    }
    .rightcorner{
        display: block;
        margin-left: 0%;
        text-align: center;
    }
    
    .rightcorner .imagephone img{
        width: 50%;
    }
    .footer_link{
        margin-top: 10%;
    }

}

@media screen and (max-width: 500px) {

    nav .links{
        display: none;
    }
    nav .links{
        display: none;
    }
    nav .togglebtn{
        display: block;
    }

}

